body{
    margin: 0;
    padding: 0;
    background: url(louis.png) no-repeat ;
    background-size: 25%;
    background-position: 50px 140px ;
}
form{
    border: grey solid 2px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    font-family: "Poppins variant1", Tofu;
    font-weight: 100;
    font-style: normal;
}
    
h3{
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
}
label{
    padding: 20px;
    font-weight: bolder;
}
input{
    padding: 3px;
    width: 328px;
}

.in{
    margin: 15px;
}
a{
    text-decoration: none;
}

.last{
    text-align: center;
}
h6{
    font-size: small;
}
button{
    background-color: black;
    color: whitesmoke;
    padding: 4px;
    border-radius: 5px;

}
button:hover{
    background-color: white;
    color: black;
}
