body{
    margin: 0;
    padding: 0;
    
}


.navbar{
    background-color: #ffffff; 
    padding: 20px;  
    color: black;
    position: sticky;
    top: 0%;
   
   
}
ul,li, li a{
    display: inline;
    text-decoration: none;
    color: black;
}
.search{
    float: inline-end;
    margin-left: 40px;
}
.lou{
    margin-left: 27%;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: larger;
    
}
.start{
    margin-left: 3%;
}

li p,li{
    display: inline;
}
.but{
    float: right;
    margin-right: 40px;
    border: none;
}
button{
    padding: 6px;
    width: 100px;
    border-radius: 30px;
    transition: all;
    outline: none;
 
}
button:hover{
    border-color: grey;
    background-color: black;
    color: white;
    transition: 1s;
    
}
.second{
    position: sticky;
    z-index: 2;
}
.image1{
    padding-top: 5px;
   width: 100%;
   height: 90vh;
  overflow: hidden;
  position: relative;

}
.imgline{
    position: absolute;
    top: 85%;
    left: 35%;
    transform: translate(-50%,-50%);
    letter-spacing: 2px;
    color: white;
}
.bag{
   display: flex;  
   flex-wrap: wrap;
  justify-content: space-between; 
  transition: 1s;  
  
}
.bag img{
    width: 300px;
    height: 220px;
    transition: 1s; 
 
   
}
.bag:hover div img{
    transform: scale(0.7);
}
.bag div{
    background: linear-gradient(to top,rgb(255, 252, 252),rgb(201, 199, 199),rgb(255, 251, 251)) 
}
.ima{
    text-align: left;
    font-size: small;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    margin-left: 20px;
}
.endimg{
    padding-top: 10px;
    position: relative;
}
.endimg>img{
    width: 100%;
    height: 100%;
    
}
.left{
    font-size:13px;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0, 0.842);
    margin: 30px;
}
hr{
    opacity: 0.4;
}
.colum{
    column-count: 4;
    column-gap: 80px;
    margin-left: 20px;
    font-size: small;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    
}
.social img{
    width: 30px;
    display: inline;
   
    margin: 20px;
}
#social{
   text-align: center;
   font-size: small;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    letter-spacing: 4px;
    padding: 10px;

}
.addres{
    column-count: 2;
    column-gap: 50px;
    padding: 30px;
    margin: 10px;
    text-align: start;
    font-size: small;
    font-weight: normal;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;

}
.addres p{
    margin: 10px;
}
#lou{
    font-family: "Poppins", sans-serif;
    letter-spacing: 3px;
    font-size: large;
}